.heading{
    font-size: 7rem;
    font-weight: 200;
    line-height: 0rem;
    color: var(--text-color);
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 7rem;
    margin-bottom: 10rem;
    gap: 5rem;
}

.p-button{
    font-size: 1rem;
    font-weight: 750;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
}

.product-name{
    font-size: 1.2rem;
    font-weight: 900;
    line-height: 2.5rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    /* width: 12rem; */
    color: var(--text-color);
    margin-bottom: 1rem;
    position: relative;
}
.product-name::before{
    content: "";
    height: 2rem;
    width: 0.7rem;
    background: var(--primary-color);
    position: absolute;
    bottom: -0.5rem;
    left: 0.1rem;
    border-radius: 50%;
    transform: rotate(347deg);
}
.height{
    height: 15rem;
}

.desc-height{
    height: 11rem;
}


.body-color{
    background-color:var(--primary-color)
  }
  
  .title{
    background-color:var(--bg-color)
  }
  .title::before{
    background-color:var(--bg-color)
  }


  .addBtn{
    border: white 0.1rem solid;
    color: white;
  }

  .addBtn:hover{
    background-color:var(--bg-color);
    color:white;
    border:white solid 0.1rem;
  }


  .card-text{
    line-height: 1.3rem;
    letter-spacing: 0.05rem;
  }